{% load static %}




<script src="{% static 'js/jquery-min.js' %}" type="text/javascript">
    </script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript">
    </script>
<script src="{% static 'js/owl.carousel.js' %}" type="text/javascript">
    </script>
<script src="{% static 'js/jquery.mixitup.min.js' %}" type="text/javascript">
    </script>
<script src="{% static 'js/lightbox.js' %}" type="text/javascript">
    </script>
<script src="{% static 'js/plugin.js' %}" type="text/javascript">
    </script>
<script src="{% static 'js/jquery.slicknav.js' %}" type="text/javascript">
    </script>
<script src="{% static 'js/count-to.js' %}" type="text/javascript">
    </script>
<script src="{% static 'js/jquery.appear.js' %}" type="text/javascript">
    </script>
<script src="{% static 'js/main.js' %}" type="text/javascript">
    </script>

