


    <header class="site-header">
        <nav class="navbar navbar-default navbar-intimate role=" data-offset-top="50" data-spy="affix">
            <div class="container">
                <div class="navbar-header">

                    <button class="navbar-toggle" data-target="#navigation" data-toggle="collapse" type="button"><span
                            class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                        <span class="icon-bar"></span></button>
                    <div class="logo">
                        <a class="navbar-brand" href="index.html"><i class="ico-3dglasses"></i></a>
                    </div>
                </div>
                <div class="side">
                    <a class="show-search"><i class="ico-search"></i></a>
                </div>
                <form class="full-search">
                    <div class="container">
                        <div class="row">
                            <input class="form-control" placeholder="Search" type="text"> <a class="close-search"><span
                                    class="ico-times"></span></a>
                        </div>
                    </div>
                </form>

                <div class="navbar-collapse collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right">
<!--                        <li class="dropdown dropdown-toggle">-->
<!--                            <a data-toggle="dropdown" href="index.html">Home</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li>-->
<!--                                    <a href="fullscreen-slider.html">Home - -->
<!--                                        Fullscreen Slider</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="carousel-slider.html">Home - Post-->
<!--                                        Carousel</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="index.html">Home - Default</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="dropdown dropdown-toggle">-->
<!--                            <a data-toggle="dropdown" href="#">Portfolio</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li>-->
<!--                                    <a href="portfolio-col-3.html">Portfolio 3-->
<!--                                        column</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="portfolio-col-4.html">Portfolio 4-->
<!--                                        column</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="portfolio-item.html">Single-->
<!--                                        Project</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="dropdown dropdown-toggle active">-->
<!--                            <a data-toggle="dropdown" href="#">Blog</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li class="active">-->
<!--                                    <a href="blog.html">Blog View</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="single.html">Single Post</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="contact.html">Contact</a>-->
<!--                        </li>-->
                        {% if categories %}
                        {%for category in categories %}
                        <li>
                            <a href="{% url 'category_detail' category.id %}">{{category.cat_title}}</a>
                        </li>
                        {%endfor%}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <ul class="wpb-mobile-menu">
            <li>
                <a href="index.html">Home</a>
                <ul>
                    <li>
                        <a href="fullscreen-slider.html">Home - Fullscreen
                            Slider</a>
                    </li>
                    <li>
                        <a href="carousel-slider.html">Home - Post Carousel</a>
                    </li>
                    <li>
                        <a href="index.html">Home - Default</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
                <ul>
                    <li>
                        <a href="portfolio-col-3.html">Portfolio 3 column</a>
                    </li>
                    <li>
                        <a href="portfolio-col-4.html">Portfolio 4 column</a>
                    </li>
                    <li>
                        <a href="portfolio-item.html">Single Project</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#">Blog</a>
                <ul>
                    <li class="active">
                        <a href="blog.html">Blog View</a>
                    </li>
                    <li>
                        <a href="single.html">Single Post</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
            <li>
                <a href="#">Download</a>
            </li>
        </ul>
    </header>